
*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}
/*  */

/* header */

#header {
    height: 60px;
    position: relative;
    background-color: #f8f8f8;
    position: relative;
}

#menu {
    background-color: white;
}

#dark_mode:hover {
    color: yellow;
}

#txtSearch {
    background-color: white;
    color: black;
    border-radius: 20px;
    border-width: 0px;
    border: none;
    position: absolute;
    right: 120px;
    top: 15px;
}

.container-1 input#search {
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .22s ease;
    -moz-transition: background .22s ease;
    -ms-transition: background .22s ease;
    -o-transition: background .22s ease;
    transition: background .22s ease;
}

#txtSearch::-webkit-input-placeholder {
    color: #65737e;
}

#txtSearch:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
}

#txtSearch::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
}

#txtSearch:-ms-input-placeholder {
    color: #65737e;
}

#titleDHNam, #titleDHNU, #titleDHCAPDOI{
    border: none;
    background-color: #f82a2a;
    border-radius: 10px 10px 10px 10px;
    width: 450px;
    color: white;
    margin-bottom: 50px;
}

.taikhoan button {
    margin-top: -8px;
}

/* /////////////////////////////////////////////////////////////////////////////// */

.navbar {
    padding: 1% auto;
}

.icon_nav {
    color: black;
}

.navbar-item {
    display: table;
    width: 140px;
}

#myMenu {
    position: relative;
}

#myMenu ul>li>a {
    text-decoration: none;
}

.navbar-link {
    text-transform: uppercase;
}

#myMenu>ul>li {
    display: inline-block;
    margin-top: 4%;
    height: 60px;
}

#myMenu>ul>li:hover {
    color: #fc4a4a !important;
    border: 0px;
    border-bottom: 5px solid #ff0000;
    border-radius: 5px;
    transition: 0.25s;
}

li>ul {
    display: none;
}

li:hover ul li {
    display: block;
    padding: 2% 0px;
    margin: 0px;
}

li:hover ul {
    width: 80%;
    padding-top: 50px;
    position: absolute;
    left: 0px;
    display: list-item;
    display: block;
    z-index: 1;
}

li span {
    color: black;
}

#btntimkiem{
    border-radius: 5%;
    position: absolute;
    right: 0px;
    top: 22px;
}
/* header */


/* main */

.ttd1{
    line-height: 50px;
    border-bottom: 5px solid gray;
}

.GioHang
{
    box-shadow: 4px 4px 7px gray,5px 5px 7px gray;
}
tbody .img
{
    width: 450px;
    height: 200px;
} 
.table tr th
{
    text-align: center;
}
tbody img 
{
    width: 50%;

}
.table td, .table th {
    /* padding: 1%; */
     vertical-align: middle;
}
.maID
{
    width: 150px;
}
.td_stt, .td_DonGia, .td_SoLuong , .td_ThanhTien
{
    text-align: right;
}
input
{ 
    margin-right: 2%;
    width: 15%;
    padding: 1%;
}

/* main */


/* footer*/

footer .center .mid .lien_he {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: table;
    padding: 3%;
    border-width: 5px;
    border-style: dotted;
    border-color: red;
    transform: rotate(-8deg);
}

.instagram:hover {
    color: #fa4160;
}

.twitter:hover {
    color: royalblue !important;
}

.facebook:hover {
    color:royalblue !important;
}

.youtube:hover {
    color: #f82a2a;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

footer a:hover {
    text-decoration: none;
    color: red !important;
}

footer a{
    color: black;
}

/*  */

footer .center .mid hr.light-mid {
    border: 1px solid orange;
    float: left;
    width: 100px;
}

footer .center .mid ul {
    clear: both;
}

footer .center .mid ul li {
    display: block;
    padding-top: 2%;
}


/*  */

footer .center .mid .tag a {
    border: 1px solid #504f4f;
    padding: 2%;
    margin: 1%;
    border-radius: 10px;
    text-align: center;
}

.tag li {
    margin-top: 3%;
}

footer .center .mid .tag a:hover {
    background-color: #f8be52;
    color: yellow;
}


/*  */

.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
}

footer .foot {
    background-color: #3f3f3f;
    color: #d5d5d5;
}

#footend a:hover{
    color: red !important;
}

#footend a {
    color: white !important;
}

/* footer */